<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT"/>
    <title>公共财务信息</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/element/index.css">
	<link rel="stylesheet" href="../css/hsg.css">
</head>
<body>
<div id="wrapper" v-cloak>
    <div >
        <div style="padding: 0 20px">
            <div>
                <div style="color: #666; font-weight: bold; border-bottom: 1px solid #ccc; padding: 10px 0; margin-bottom: 20px; font-size: 30px;">公共财务信息</div>
            </div>
            <div style="margin-top: 10px">
                <div style="border: 1px solid #ff6b31;">
                    <div style="padding: 5px; border-bottom: 1px solid #ff6b31; color: white; background-color: #ff6b31;">公共财务信息表</div>
                    <div style="border: 1px solid #ccc; padding: 10px">
                        <div class="table-responsive">
                            <div class="nx-table-header" style="position: relative">
                                <button class="btn btn-sm btn-primary" v-on:click="add()">新增</button>
                                <button class="btn btn-sm btn-primary">批量导入</button>
                                <input @click="clickUpload" @change="upload" type="file" multiple ref="file"
                                       style="position:absolute;top:0;left:50px;opacity:0;width:70px;height:30px;">
                                <button class="btn btn-sm btn-primary" v-on:click="downModel">下载模板</button>
								<button class="btn btn-sm btn-primary" v-on:click="downExcel">导出excel</button>
                                <input type="text" placeholder="请输入搜索内容" v-model="name" @keyup.enter="loadTable(1)">
                                <i class="glyphicon glyphicon-search" style="margin-left: -20px"></i>
                            </div>
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>物品编号</th><th>物品名称</th><th>物品类型</th><th>照片</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody v-for="obj in objs">
                                <tr>
                                    <td>{{obj.id}}</td>
									<td>{{obj.wupinbianhao}}</td><td>{{obj.wupinmingcheng}}</td><td>{{obj.wupinleixing}}</td><td><img v-if="obj.zhaopianavt" :src="'/files/download/'+obj.zhaopianavt" class="avatar-table"><img v-else src="../img/no-avater.jpg" class="avatar-table"></td>
                                    <td>
                                        <button class="btn btn-primary btn-xs" @click="init(obj)">编辑</button>
										
										<button class="btn btn-primary btn-xs" @click="detail(obj.id)">详细</button>
                                        <button class="btn btn-danger btn-xs" @click="del(obj.id)">删除</button>                                    </td>
                                </tr>
                                </tbody>
                            </table>
							<!--danhxexiaxnshi-->
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item" v-bind:class="{ disabled: preActive }">
                                        <a class="page-link" href="javascript:void(0)"
                                           v-on:click="loadTable(pageInfo.pageNum - 1)">上一页</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0)" v-if="pageInfo.pageNum > 1" v-on:click="loadTable(pageInfo.pageNum - 1)">{{pageInfo.pageNum - 1}}</a>
                                    </li>
                                    <li class="page-item disabled">
                                        <a class="page-link" aria-disabled="true" href="javascript:void(0)">{{pageInfo.pageNum}}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0)" v-if="pageInfo.hasNextPage" v-on:click="loadTable(pageInfo.pageNum + 1)">{{pageInfo.pageNum + 1}}</a>
                                    </li>
                                    <li class="page-item" v-bind:class="{ disabled: nextActive }">
                                        <a class="page-link" href="javascript:void(0)" v-on:click="loadTable(pageInfo.hasNextPage? (pageInfo.pageNum + 1) : pageInfo.pageNum)">下一页</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="mod">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">请填写信息</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <input type="hidden" id="id" name="id" v-model="entity.id">
                        <div  class="form-group"><label class="col-sm-3 control-label">物品编号</label><div class="col-sm-7"><input type="text" class="form-control" v-model="entity.wupinbianhao" style="width: 160px" placeholder="请输入物品编号" id="wupinbianhao"></div></div>
		<div  class="form-group"><label class="col-sm-3 control-label">物品名称</label><div class="col-sm-7"><input type="text" class="form-control" v-model="entity.wupinmingcheng" style="width: 160px" placeholder="请输入物品名称" id="wupinmingcheng"></div></div>
		<div  class="form-group"><label class="col-sm-3 control-label">物品类型</label><div class="col-sm-7"><input type="text" class="form-control" v-model="entity.wupinleixing" style="width: 160px" placeholder="请输入物品类型" id="wupinleixing"></div></div>
		<div  class="form-group"><label class="col-sm-3 control-label">照片</label> <div class="col-sm-7"> <el-upload  class="avatar-uploader" action="/files/upload"  :show-file-list="false"  :on-success="zhaopiansccs"   :before-upload="zhaopianbaul"> <img v-if="zhaopianimrl" :src="zhaopianimrl" class="avatar"><img v-else-if="zhaopianavt" :src="'/files/download/'+zhaopianavt" class="avatar"> <i v-else class="el-icon-plus avatar-uploader-icon"></i></el-upload> </div></div>
		<div  class="form-group"><label class="col-sm-3 control-label">备注</label><div class="col-sm-7"><textarea type="text" class="form-control" v-model="entity.beizhu" style="height: 100px" placeholder="请输入备注" id="beizhu"></textarea></div></div>
		
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
					
                    <button type="button" class="btn btn-primary" @click="update()">保存</button>
                </div>
            </div>
        </div>
    </div>
	<!--m_liangbumod-->
</div>
<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/nav.js"></script>
<script src="../js/my.js"></script>
<script src="../js/vue2.6.11/vue.min.js"></script>
<script src="../js/vue2.6.11/axios.js"></script>
<script src="../js/element/index.js"></script>

<script>
    function checkValid(entity) {
        if (!entity.wupinmingcheng || entity.wupinmingcheng === "") {alert("物品名称不能为空"); return false;}

        return true;
    }
    new Vue({
        el: '#wrapper',
        data: {

            authority: [],
            permission: [],
            storeUser: JSON.parse(localStorage.getItem("user")),
            name: '',
            user: {},
			
			zhaopianimrl: '',
//youtupianimrl			
            objs: [],
            pageInfo: {},
            preActive: true,
            nextActive: true,
			zhaopianavt:null,
			
			//youxia2sui
			//youxxiabiaoxduan
            entity: {
               zhaopianflst:[],
			
            }
        },
        created:
            function () {
                this.loadTable(1);
                this.user = JSON.parse(localStorage.getItem('user'));
                axios.get("/permission/3").then(res => {
                    if (res.data.code === '0') {
                        this.permission = res.data.data;
                    } else {
                        msg('error', res.data.msg);
                    }
                });
                axios.get("/authority").then(res => {
                    if (res.data.code === '0') {
                        this.authority = res.data.data;
                    } else {
                        msg('error', res.data.msg);
                    }
                });
				//youcreatexia2sui
				//youffxiaxbiaoxduan
				
				//youtixing
				
            },
        methods: {
            loadTable(pageNum) {
                let name = this.name === '' ? "all" : this.name;
                axios.get("/gonggongcaiwuxinxiInfo/page/" + name + "?pageNum=" + pageNum).then(res => {
                    if (res.data.code === '0') {
                        this.objs = res.data.data.list;
                        res.data.data.list.forEach(item=>{
                            if(item.zhaopian) {item.zhaopianavt = JSON.parse(item.zhaopian)[0];}
                            //tupianloadtb
							//dhjsuanxx
                        })
                        this.pageInfo = res.data.data;
                        this.preActive = !(this.pageInfo.hasPreviousPage);
                        this.nextActive = !(this.pageInfo.hasNextPage);
                    } else {
                        msg('error', res.data.msg);
                    }
                });
            },
			
			detail(id) {window.location = '/end/page/gonggongcaiwuxinxi_detail.html?gonggongcaiwuxinxiid='+id;},
            init(o) {
                 if (this.user.level === "管理员")
               {}
               else
               {
                   msg('warning', '你没有权限操作');
                   return;
               }
				
				this.entity.zhaopianflst = [];
				
				this.zhaopianavt=null;
				
				this.zhaopianimrl=null;
				
                this.entity = JSON.parse(JSON.stringify(o));
				if(this.entity.zhaopian) { this.zhaopianavt = JSON.parse(this.entity.zhaopian)[0];}
				//tupianxinxiit4
                $('#mod').modal('show');
            },
			//m_liangbuinit
            add() {
				if (this.user.level === "管理员")
               {}
               else
               {
                   msg('warning', '你没有权限操作');
                   return;
               }
				
				this.entity = {};this.entity.wupinbianhao = uuid();
                this.entity.zhaopianflst = [];
				
				this.zhaopianavt=null;
				
				this.zhaopianimrl=null;
				
				//list23Nfbr
				//ssxessioxnduqxu
                $('#mod').modal('show');
            },
            update() {
                if (checkValid(this.entity)) {
                    debugger
                    if (!this.entity.id) {
                        axios.post(
                            "/gonggongcaiwuxinxiInfo", this.entity
                        ).then(res => {
                            if (res.data.code === '0') {
                                msg('success', '添加成功');
                                $('#mod').modal('hide');
                                this.loadTable(1);
                            } else {
                                msg('error', res.data.msg);
                            }
                        })
                    } else {
                        axios.put(
                            "/gonggongcaiwuxinxiInfo", this.entity
                        ).then(res => {
                            if (res.data.code === '0') {
                                msg('success', '更新成功');
                                $('#mod').modal('hide');
                                this.loadTable(1);
                            } else {
                                msg('error', res.data.msg);
                            }
                        })
                    }
                }
            },
			zhaopiansccs(res, file) {
                this.zhaopianimrl = URL.createObjectURL(file.raw);
                this.entity.zhaopianflst.push(res.data.id);
                this.zhaopianavt = res.data.id
            },
            zhaopianbaul(file) {
                this.entity.zhaopianflst = [];
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2000MB!');
                }
                return isJPG && isLt2M;
            },
			//m_tupiansccsbaul
            del(id) {
                if (this.user.level === "管理员")
               {}
               else
               {
                   msg('warning', '你没有权限操作');
                   return;
               }
				
                let _this = this;
                this.$confirm('确认删除？', '系统提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    cancelButtonClass: 'btn-custom-cancel',
                    type: 'warning'
                }).then(function(){
                    axios.delete("/gonggongcaiwuxinxiInfo/" + id).then(res => {
                        if (res.data.code === '0') {
                            msg('success', '删除成功');
                            _this.loadTable(1);
                        } else {
                            msg('error', res.data.msg);
                        }
                    });
                }).catch(function() {
                    console.log("取消成功！");
                });
            },
            downModel() {
                location.href = '/gonggongcaiwuxinxiInfo/getExcelModel';
            },
			downExcel() {
                location.href = '/gonggongcaiwuxinxiInfo/getExcel';
            },
            clickUpload: function (e) {
                if (this.user.level === "管理员")
                {}
                else
                {
                    msg('warning', '你没有权限操作');
                    return;
                }
            },
            upload: function () {
                let files = this.$refs.file.files;
                for (let i = 0; i < files.length; i++) {
                    let formData = new FormData();
                    formData.append('file', files[i]);
                    axios.post('/gonggongcaiwuxinxiInfo/upload', formData, {
                        'Content-Type': 'multipart/form-data'
                    }).then(res => {
                        if (res.data.code === '0') {
                            msg('success', '批量导入成功');
                            this.loadTable(1);
                        } else {
                            msg('error', res.data.msg);
                        }
                    })
                }
            },
			//youscwenjian
            changeStatus(id){
                let _this = this;
                axios.get("/gonggongcaiwuxinxiInfo/changeStatus/" + id).then(res => {
                    if (res.data.code === '0') {
                        msg('success', '状态修改成功');
                        _this.loadTable(this.pageInfo.pageNum);
                    } else {
                        msg('error', res.data.msg);
                    }
                });
            },
			//daxizhxifu
			//x2suilafuxzhi
            logout() {
                logout();
            }
        }
    })
</script>
</body>
</html>