/*左侧导航菜单    home*/
.sideMenu {
    /*border-right: 1px solid #ddd;*/
    border-bottom: 1px solid #ddd;
    background-color: #eeeeee;
}

.sideMenu .head {
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: red;
    text-align: center;
    /*font-weight: bold;*/
    font-size: 20px;
}

.sideMenu h3 {
    background: #eee;
    color: #666;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    /*border-top: 1px solid #e3e3e3;*/
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
}

.sideMenu ul .nLi i {
    font-size: 18px;
    margin-right: 15px;
    position: relative;
    top: 2px;
}

.sideMenu h3 {
    position: relative;
}

.sideMenu ul .nLi .arrow {
    position: absolute;
    top: 5px;
    right: 10px;
}

.sideMenu ul .nLi.on .sub {
    display: block;
}

.sideMenu ul .nLi .sub {
    /*padding: 8px 0;*/
    display: none;
}

.sideMenu ul .nLi .sub li {
    height: 35px;
    line-height: 35px;
    list-style: none;
}

.sideMenu ul .nLi .sub li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #666;
    text-decoration: none;
    padding: 0 25px;
}
.sideMenu ul .nLi .sub li a.active {
    background: #fff;
    color: red;
}
.sideMenu ul .nLi .sub li a.active i {
    color: red;
}
.sideMenu ul .nLi .sub li a:hover {
    background:  #fff;
    color: red;
}

/*左侧导航菜单    end*/
