<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.JiaofeixinxiInfoDao">

    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(id) from `jiaofeixinxi_info` where ${column} = #{value}
        <if test="id != null">
            and id != #{id}
        </if>
    </select>

  <select id="findByXuehaozj" resultType="com.example.vo.JiaofeixinxiInfoVo">
        select * from `jiaofeixinxi_info` where `xuehao` = #{username}
    </select>

    <select id="findByXingming" resultType="com.example.vo.JiaofeixinxiInfoVo">
        select `jiaofeixinxi_info`.* from `jiaofeixinxi_info`
        where 1 = 1
        <if test="xingming != null and xingming != '' and xingming != 'all'">
            and `jiaofeixinxi_info`.`xingming` like concat('%', #{xingming}, '%')
        </if>
        order by `jiaofeixinxi_info`.id
    </select>
	<select id="findByXingminglist2" resultType="com.example.vo.JiaofeixinxiInfoVo">
        select `jiaofeixinxi_info`.* from `jiaofeixinxi_info`
        where 1 = 1
        <if test="xingming != null and xingming != '' and xingming != 'all'">
            and `jiaofeixinxi_info`.`xingming` like concat('%', #{xingming}, '%')
        </if>
		<if test="xuehao != null and xuehao != '' and xuehao != 'all'">
            and `jiaofeixinxi_info`.`xuehao` like concat('%', #{xuehao}, '%')
        </if>
        order by `jiaofeixinxi_info`.id
    </select>        <!--list23N-->
    <select id="count" resultType="Integer">
        select count(id) from `jiaofeixinxi_info`
    </select>
</mapper>

